@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "open-sans-regular";
    src: url("https://s3-media0.fl.yelpcdn.com/assets/public/open-sans-regular.yji-aff9b80e384301f2ae0c.woff2");
}

@font-face {
    font-family: "open-sans-semibold";
    src: url("https://s3-media0.fl.yelpcdn.com/assets/public/open-sans-semibold.yji-d3abae27d3eac73b40a5.woff2");
}

@font-face {
    font-family: "open-sans-bold";
    src: url("https://s3-media0.fl.yelpcdn.com/assets/public/open-sans-bold.yji-1145ff0b749fff2d31bb.woff2");
}

@font-face {
    font-family: "poppins-medium";
    src: url("https://s3-media0.fl.yelpcdn.com/assets/public/poppins-medium.yji-dc16a3592fdb61b620cc.woff2");
}

@font-face {
    font-family: "poppins-bold";
    src: url("https://s3-media0.fl.yelpcdn.com/assets/public/poppins-bold.yji-9690ce6275ddc5645cfa.woff2");
}

:root {
    --button-color: #e00707;
    --primary-font-color: #fff;
    --secondary-font-color: #000;
    --teritiary-font-color: #6e7072;

    --font-open-sans-regular: open-sans-regular;
    --font-open-sans-semibold: open-sans-semibold;
    --font-open-sans-bold: open-sans-bold;
    --font-poppins-medium: poppins-medium;
    --font-poppins-bold: poppins-bold;

    --font-dm-sans-light-200: 'DM Sans', sans-serif;
}

body {
    /* font-family: 'Poppins', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-family: var(--font-poppins-medium); */

    font-family: "Poppins", sans-serif;
}

.bx {
    box-sizing: border-box;
}

.main-container {}
.main-inner-container {}
.top-section {
    width: 100vw;
    height: 738px;
}
.top-section-container {
    background-image: url("assets/pictures/o.jpg");
    height: 100%;
    background-repeat: no-repeat;
    /* background-position: center; */
    background-size: cover;
}
.top-section-contents {
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0.7791491596638656) 0%, rgba(255,255,255,0) 100%);
}
.navbar {
    overflow: hidden;
}
.navbar-container {
    padding: 1.5rem 2.5rem 0;
    min-width: 1040px;
}
.navbar-inner-container {}
.navbar-contents {
    display: flex;
    justify-content: space-between;
    position: relative;
}
.navbar-logo-section {
    /* max-width: 309px; */
    /* flex: 1; */

    position: absolute;
    top: 7px;
    display: flex;
    /* margin-right: 29.969px; */
}
.navbar-logo-container {
    display: flex;
    align-items: center;
}
.logo-name {
    height: fit-content;
}
.logo-name-text {
    font-family: var(--font-open-sans-regular);
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 26px;
    font-weight: 600;
    color: var(--primary-font-color);
}
.logo-img {}
.logo {}
.logo svg {
    width: 30px;
    height: 30px;
}

.nav-rightt-section {
    height: 48px;
    display: flex;
    /* max-width: 1497px; */
    padding-left: calc((100vw - 1144px) / 2 - 161px);
    margin-left: 115px;
    /* margin-left: 112px; */
    flex: 1;
    justify-content: space-between;
}
.search-section {
    /* max-width: 988px; */
    margin-right: 55px;
    /* margin-right: ; */
    display: flex;
    flex: 1;
}
.search-section-contents {
    display: flex;
    height: 100%;
    /* max-width: 956.06px; */
    flex: 1;
    flex-grow: 1;
    border-radius: 0.25rem;
    overflow: hidden;
}
.input-field {
    /* max-width: 450.53px; */
    max-width: 456px;
    min-width: 141.53px;
    /* min-width: 130.53px; */
    height: 100%;
    flex: 1;
    display: flex;
    align-items: end;
    flex-grow: 1;
    background-color: white;
    padding-right: 24px;
    /* padding-right: 23px; */
    box-sizing: border-box;
}
#text-input {
    height: 95%;
    /* background-color: red; */
    border: none;
    width: 100%;
}
#text-input::placeholder {
    padding-left: 16px;
    font-family: var(--font-open-sans-regular);
    font-size: 16px;
    font-weight: 500;
    color: var(--teritiary-font-color);
    display: flex;
}
.search-icon {
    width: 56px;
    height: 48px;
    background-color: var(--button-color);
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-icon span {
    height: fit-content;
    display: flex;
    padding-top: 2px;

}
.search-icon span img {}

.nav-inner-right-section {
    display: flex;
    margin-top: 2px;
}
.nav-inner-right-container {
    display: flex;
}
.nav-right-txt {
    display: flex;
    color: var(--primary-font-color);
    /* align-items: center; */
    padding: 0.5rem;
    padding-bottom: 10px;
    margin-right: 1rem;
    padding-top: 11px;
}
.nav-right-txt1-container {
    display: flex;
    align-items: center;
    /* padding-right: 0.5rem; */
    height: fit-content;
}
.nav-right-text1 {
    font-size: 14px;
    font-family: var(--font-open-sans-semibold);
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.nav-right-logo {
    height: fit-content;
}
.nav-right-down-icon {}
/* .nav-right-txt2-container {} */
.nav-right-text1 {}
.lmno {
    margin-right: 4px;
}
.nav-right-btn-section {}
.nav-right-btn {}
.nav-right-btn-container {
    display: flex;
    height: 100%;
}
.nav-right-btn {
    height: 100%;
}
.nav-right-btn button {
    /* height: 100%; */
    padding: 8px 14px;
    /* padding-left: 14px;
    padding-right: 14px; */
    /* padding-left: 14px; */
    background-color: rgba(131, 131, 131, 0.255);
    border: 2px solid rgba(249, 246, 246, 0.945);
    border-radius: 0.25rem;
    box-sizing: border-box;
    max-height: 46px;
}
.login-btn button {
    padding-left: 17px;
}
.red-btn {
    margin-left: 12px;
}
.red-btn span {
    /* letter-spacing: -0.02em; */
    letter-spacing: -0.0125em;

}
.red-btn  button{
    border-color: var(--button-color);
    background-color: var(--button-color);
    box-sizing: border-box;
}
.btn-text {
    font-family: var(--font-poppins-medium);
    color: white;
    font-size: 1rem;
    height: 24px;
}

@media screen and (max-width: 1465px) {
    .nav-rightt-section {
        margin-left: 112px;
    }
}

@media screen and (max-width: 1220px) {
    .search-section {
        /* margin-right: 17.5px; */
        margin-right: 25px;
    }
}


